body {
	font: normal 1.1em/1.5 sans-serif;
	color: #222;
	background-color: #edeff0;
	
}
a {
	text-decoration: none;
	color: black;
}
.main-wrapper {
	margin: auto;
}
.first-header {
	display: inline-block;
	text-align: center;
	margin-top: 5%;
}
.first-header h1,.first-header h2{
	display: inline-block;
	text-align: center;
}
.first-header h2 {
	margin-top: 0;
	font-size: 1.3em;
}
.main-nav  li{
	display: inline-block;
	margin: 0 2%;
}
.main-nav {
	text-align: center;
}
.blog-excerpt-1, .blog-excerpt-2{
	margin: 0 3%;
	font-size: 0.875em;
}
.blog-excerpt-3{
	display: none;
}
.footer-nav-1, .footer-nav-2{
	display: block;
	text-align: center;
}
.footer-nav-1 a, .footer-nav-2 a {
	margin: 0 3%;
}
footer p {
	text-align:center;
}




