/* Here are the site fonts

font-family: 'Dosis', sans-serif;
That's for the main text
Use bolder weights for paragraph headers and lighter weights for paragraphs

font-family: 'Kaushan Script', cursive;
That's for section headings
I may change this font, heads up

Already reference these fonts in HTML header

Colors:

#A55C26
#D9AE86
#3C7F55
#742A1A
#1DA64A
#000000
#EAEAEA


*/

body {
	/* font: normal 1.1em/1.5 sans-serif; */
    font-family: 'Dosis', sans-serif;
	color: #222;
	background-color: #a9a9a9;
}
a {
	text-decoration: none;
	color: white;
}
.main-wrapper {
	position: absolute;
	margin: auto;
	z-index: 1;
	background-color: #113951;
}
.main-header{
	background-color: #c7494a;
}
.first-header, .first-header h1, .main-nav, footer div, footer p{
	text-align: center;
}	
.first-header {
	margin-top: 10px;
}
.first-header h1 {

	font-size: 3.5em;
	font-weight: 300;
}
.main-nav {
	background-color: #c7494a;
	height: 35px;
	border-bottom: solid #000;
	
}
.main-nav  li{
	display: inline-block;
	margin: 0 2%;
    font-family: 'Dosis', sans-serif;/*font-family: 'Kaushan Script', cursive;*/
	font-weight: 300;
	-webkit-transition: all .3s ease;
}
.main-nav li:hover {
	font-weight: 900;
	-webkit-transition: all .3s ease;
}
section{
	color: #fff;
	margin-bottom: 10px;
}
section p{
	font-size: 1.0em;
	margin: 0 3%;
}
.slideshow{
	display: block;
	position: relative;
	overflow: hidden;
	margin-bottom: -5px;
	
}
.slideshow img {
	position: relative;
	width: 142%;
	height: auto;
	border-bottom: 5px solid #000;
}
.slideshow p {
	position: absolute;
	z-index: 2;
	font-size: 2em;
	top: 100px;
}
.blog-excerpt-3, .tablet-plus{
	display: none;
}
footer div{
	display: block;
}

.footer-nav-1 a {
    opacity: .4;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  
    /* For Webkit browsers */
    filter: gray;  
    /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  
    /* Transition for Webkit browsers */  
}

.footer-nav-2 a {
    opacity: .4;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  
    /* For Webkit browsers */
    filter: gray;  
    /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  
    /* Transition for Webkit browsers */  
}

.footer-nav-1 a:hover{
    opacity: 1;
      filter: grayscale(0%);
    -webkit-filter: grayscale(0%);  
    /* For Webkit browsers */
    filter: none;  
    /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  
    /* Transition for Webkit browsers */  
}

.footer-nav-2 a:hover{
    opacity: 1;
      filter: grayscale(0%);
    -webkit-filter: grayscale(0%);  
    /* For Webkit browsers */
    filter: none;  
    /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  
    /* Transition for Webkit browsers */ 
}
@media screen and (min-width: 396px){
	.slideshow p {
	font-size: 2.0em;
	left: 24%;
	}

}
@media screen and (min-width: 436px){
.main-header{
	position: relative;
	top: -10px;
	z-index: 2;
	margin-bottom: -18px;
}
.first-header{
	display: block;
	text-align: center;
}
.first-header h1 {
	display: block;
	text-align: center;
}
.main-nav  li{
	margin: 0 7%;
}

@media screen and (min-width: 447px) {
.footer-nav-2{
	display: none;
}
.tablet-plus{
	display: inline-block;
}
footer a{
	margin-left: 1%;
	margin-right: 1%;
}
footer {
	position: relative;
	height: 70px;
}
.blog-excerpt-3 {
	display: block;
}
@media screen and (min-width: 526px) {
.main-header{

}
.slideshow img {
	width: 100%;
	height: auto;
}

}
@media screen and (min-width: 864px) {
.main-wrapper{
	position: relative;
	width: 80%;
	margin: auto;
	max-width: 1000px;
	z-index: 1;
box-shadow: 0 0 30px rgba(0,0,0,1);}
.main-header {
	position: absolute;
	width: 60%;
	border: solid #000;
	
}
.first-header {
	text-align: left;
}
.first-header h1{
	text-align: left;
	font-size: 4.0em;
}
.main-nav {
	text-align: left;
	border-bottom: none;
}
.main-nav li {
	text-align: left;
	margin-left: .6em;
	margin-right: .6em;
	font-size: 1.3em;
	padding: 0 .2em;
}
.blog-excerpt-1 {
	margin-top: 10px;
}
section p {
	font-size: 1.2em;
	margin-top: 5px;
}
.p1, .p2 {
	margin: 20px 10px;
}
.slideshow  {
	display: inline-block;
	position: relative;
	z-index: -1;
	text-align: center;
	margin-bottom: 15px;
}
.slideshow img{
	position: relative;
	width: 100%;
	height: auto;
}


}
    



