/* Here are the site fonts

font-family: 'Dosis', sans-serif;
That's for the main text
Use bolder weights for paragraph headers and lighter weights for paragraphs

font-family: 'Kaushan Script', cursive;
That's for section headings
I may change this font, heads up

Already reference these fonts in HTML header

Colors:

#A55C26
#D9AE86
#3C7F55
#742A1A
#1DA64A
#000000
#EAEAEA


*/

body {
	/* font: normal 1.1em/1.5 sans-serif; */
    font-family: 'Dosis', sans-serif;
	color: #222;
	background-color: #D8AE85;
}
a {
	text-decoration: none;
	color: black;
}

.main-wrapper {
	margin: auto;
}
.first-header, .first-header h1, .first-header h2, .main-nav li {
	display: inline-block;
}
.first-header, .first-header h1, .first-header h2, .main-nav, footer div, footer p{
	text-align: center;
}	
.first-header {
	margin-top: 10px;
}
.first-header h2 {
	margin-top: -5px;
	margin-bottom: 0;
	font-size: 1.3em;
    font-family: 'Kaushan Script', cursive;
}
.main-nav  li{
	margin: 0 2%;
    font-family: 'Kaushan Script', cursive;
}
section, footer a{
	margin: 0 3%;
}
section{
	font-size: 0.875em;
}
.blog-excerpt-3, .tablet-plus{
	display: none;
}
footer div{
	display: block;
}
hr {
    border: 0;
    width: 95%;
    color: #742A1A;
    background-color: #742A1A;
    height: 3px;
}

.footer-nav-1 a {
    opacity: .4;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  
    /* For Webkit browsers */
    filter: gray;  
    /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  
    /* Transition for Webkit browsers */  
}

.footer-nav-2 a {
    opacity: .4;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  
    /* For Webkit browsers */
    filter: gray;  
    /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  
    /* Transition for Webkit browsers */  
}

.footer-nav-1 a:hover{
    opacity: 1;
      filter: grayscale(0%);
    -webkit-filter: grayscale(0%);  
    /* For Webkit browsers */
    filter: none;  
    /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  
    /* Transition for Webkit browsers */  
}

.footer-nav-2 a:hover{
    opacity: 1;
      filter: grayscale(0%);
    -webkit-filter: grayscale(0%);  
    /* For Webkit browsers */
    filter: none;  
    /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  
    /* Transition for Webkit browsers */ 
}
    
.slideshow img {
    margin-left: 20%;
	margin-right: 20%;
}

@media screen and (min-width: 436px){
.first-header{
	display: block;
	text-align: center;
}
.first-header h1 {
	display: block;
	text-align: center;
}
.first-header h2 {
	
}
     
@media screen and (min-width: 447px) {
.footer-nav-2{
	display: none;
}
.tablet-plus{
	display: inline-block;
}
footer a{
	margin-left: 1%;
	margin-right: 1%;
}
footer {
	margin-bottom: 0;
	position: relative;
	bottom: -120px;
}
.blog-excerpt-3 {
	display: block;
}

    
/* footer div:hover {
	background-color: yellow;
    opacity: 1;    
}
*/
    
    
    



